@font-face {
    font-family: 'Gotham Pro';
    src: 
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: 
        url("../fonts/GothamPro-Bold.woff2") format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: 
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: 
        url('../fonts/GothamPro-LightItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

body {
    margin: 0;
    min-width: 1100px;

    font-family: "Gotham Pro", sans-serif;
    font-size: 18px;
    line-height: 1.42;
    color: #262626;
    background-color: #fff;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, p {
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.container {
    width: 1060px;
    margin: 0 auto;
}

.header {
    padding: 13px 0;
    height: 51px;

    background-color: #2b2b40;
}

.logo__header {
    float: left;
}

.logo__link {
    display: block;
    width: 99px;
    height: 51px;
}

.contacts {
    float: right;
    padding-top: 5px;
    text-align: right;
}

.contacts__tel {
    color: #fff;
    font-style: 21px;
    font-weight: bold;
}

.contacts__workhours {
    color: #cb2376;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;

    cursor: pointer;
}

.contacts__workhours:hover {
    color: #8ad0f6;
    transition: .3s;
}

.main-content {
    margin-bottom: 65px;
}

.main-top {
    background-color: #27283d;
}

.main-top__img {
    margin: 0 auto;
}

.page-content, .sidebar-nav {
    display: inline-block;
    vertical-align: top;
}

.sidebar-nav {
    padding-top: 60px;
    width: 175px;
}

.page-content {
    width: 877px;
}

.nav__item {
    margin-bottom: 25px;
}

.nav__link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #cb2376;
}

.nav__link:hover {
    color:#000;
    transition: .3s;
}

.nav__link::before {
    content: "";
    display: inline-block;
    margin-right: 17px;
    width: 20px;
    height: 18px;
    background: no-repeat left center / contain;
    vertical-align: middle;
}

.nav__link > span {
    vertical-align: middle;
}

.nav__item--icon--main .nav__link::before {
    background-image: url(../img/nav_main.png);
}

.nav__item--icon--main .nav__link:hover::before {
    background-image: url(../img/nav_main_hover.png);
    transition: .3s;
}

.nav__item--icon--star .nav__link::before {
    background-image: url(../img/nav_star.png);
}

.nav__item--icon--star .nav__link:hover::before {
    background-image: url(../img/nav_star_hover.png);
    transition: .3s;
}

.nav__item--icon--wallet .nav__link::before {
    background-image: url(../img/nav_wallet.png);
}

.nav__item--icon--wallet .nav__link:hover::before {
    background-image: url(../img/nav_wallet_hover.png);
    transition: .3s;
}

.nav__item--active .nav__link {
    color: #000;
}

.nav__item--active.nav__item--icon--main .nav__link::before {
    background-image: url(../img/nav_main_hover.png);
}


.nav__item--active.nav__item--icon--star .nav__link::before {
    background-image: url(../img/nav_star_hover.png);
}

.nav__item--active.nav__item--icon--wallet .nav__link::before {
    background-image: url(../img/nav_wallet_hover.png);
}


.features {
    padding-top: 50px;
}

.section-title {
    font-weight: bold;
    font-size: 49px;

    color: #262424;
}

.features-list {
    padding-top: 48px;
}

.features-item {
    display: inline-block;
    vertical-align: top;

    padding-left: 20px;
    padding-right: 22px;
    width: 218px;

    text-align: center;
}

.features-item:last-child {
    width: 185px;
    padding-left: 40px;
}

.features-item__icon {
    position: relative;
    width: 68px;
    height: 68px;

    margin: 0 auto 30px;

    background-color: #2b2b40;
    border-radius: 50%;
}

.features-item__icon-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-item__title {
    font-size: 10.78px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.24em;
}

.feature-description {
    padding-top: 18px;

    line-height: 1.67;
}

.feature-description__list {
    padding-top: 7px;
    text-align: left;
    line-height: 1.8;
}

.feature-description__item::before {
    content: "•";
    color: #b03665;
    padding-right: 30px;
}

.news {
    padding-top: 68px;
}

.news-list {
    padding-top: 64px;
    margin-bottom: 60px;
}

.news-item {
    padding-bottom: 20px;

    border-bottom: 2px solid #f4f4f4;
}

.news-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.news-item:not(:first-child) {
    padding-top: 25px;
}

.news__avatar, .news__content {
    display: inline-block;
    vertical-align: top;
}

.news__avatar-frame {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.news__content {
    padding-left: 12px;
    width: 686px;
}

.news__content time {
    margin-bottom: 6px;
    display: block;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;

    color: #656464;
}

.news__content h3 {
    margin-bottom: 10px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}

.news__content p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
}

.pagination__controlls, .pagination__left, .pagination__right, .pagination__list,  .pagination__item {
    display: inline-block;
}

.pagination {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.pagination__display {
    margin-right: 30px;

    font-weight: 300;
    color: #656464;
}

.pagination__link, .pagination__left, .pagination__right {
    padding: 4px 8px;
    font-weight: 700;
    color: #262424;

    cursor: pointer;
}

.pagination__left--disabled {
    color: #bdbdbd;
    cursor: default;
}

.pagination__link--active {
    background-color: #2b2b40;
    border-radius: 2px;

    color: #fff;

    cursor: default;
}

.pagination__link:hover {
    color: #952663;
    transition: .3s;
}

.footer {
    padding: 10px 0;
    background-color: #2b2b40;
    color: #fff;
} 

.copyright, .logo, .socials {
    display: inline-block;
    vertical-align: middle;
}

.copyright {
    margin-right: 210px;
    width: 270px;

    font-size: 14px;
    font-weight: 300;
}

.copyright__link {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

.logo_footer {
    margin-right: 297px;
}

.socials {
    width: 173px;

    font-size: 14px;
    font-weight: bold;
}

.socials__title {
    display: block;
    margin-bottom: 8px;
}

.socials__list {
    font-size: 0px;
}

.socials__item {
    display: inline-block;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.social__link {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;

    background-color: #d3d3d7;
    border-radius: 50%;
}

.social__link:hover {
    background-color: #cb2376;
    transition: .3s;
}

.social__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


