.btn {
    display: inline-block;
    padding: 16px 20px;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;

    color: #fff;
    background-color: #2b2b40;
    border: none;
    border-radius: 2px;

    cursor: pointer;
}

.btn:hover {
    background-color: #cb2376;
    transition: .3s;
}

.btn__intro {
    padding: 11px 19px;

    background-color: transparent;
    color: #ec1e79;
    border: 3px solid #ec1e79;
    letter-spacing: 0.1em;
}

.btn__intro:hover {
    color: #fff;
    background-color: #ec1e79;
}

