.discount {
    padding-top: 40px;
    padding-bottom: 45px;

    background: #27283d url("../../img/discount_bg.png") no-repeat 50% 50%;

}

.discount__text {
    max-width: 634px;
    margin: auto;

    line-height: 1.67em;
    color: #fff;
}

.discount__text strong {
    color: #cb2376;
}