.discount {
    padding-top: 22px;
    padding-bottom: 25px;
    padding-left: 9px;
    padding-right: 8px;
    margin-bottom: 25px;

    background: #27283d url("../../img/discount_bg.png") no-repeat;
    background-size: cover;
    text-align: center;
}

.discount__text {
    max-width: 634px;
    margin: auto;

    line-height: 1.67em;
    color: #fff;
}

.discount__text strong {
    color: #cb2376;
}