.feature-description {
    padding-top: 18px;

    line-height: 1.67;
}

.feature-description__list {
    padding-top: 7px;
    text-align: left;
    line-height: 1.8;
}

.feature-description__item::before {
    content: "•";
    color: #b03665;
    padding-right: 30px;
}