.features {
    margin-bottom: 68px;
}

.features__list {
    display: flex;
}

.features__item {
    margin-right: 36px;
    width: 238px;

    text-align: center;
}

.features__item:last-child {
    padding-left: 20px;
    margin-right: 0;
}

.features__icon {
    position: relative;
    width: 68px;
    height: 68px;

    margin: 0 auto 30px;

    background-color: #2b2b40;
    border-radius: 50%;
}

.features__icon::after {
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features__icon--img--flower::after {
    width: 27px;
    height: 31px;
    background: url(../../img/sprite.png) no-repeat -62px -10px;
}

.features__icon--img--star::after {
    width: 32px;
    height: 32px;
    background: url(../../img/sprite.png) no-repeat -10px -10px;
}

.features__icon--img--palette::after {
    width: 28px;
    height: 29px;
    background: url(../../img/sprite.png) no-repeat -109px -10px;
}

.features__title {
    font-size: 10.78px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.24em;
}

.features__description {
    padding-top: 18px;

    line-height: 1.67;
}

.features__description-list {
    padding-top: 7px;
    text-align: left;
    line-height: 1.8;
}

.features__description-item::before {
    content: "•";
    color: #b03665;
    padding-right: 30px;
}

.features__item--top {
    width: 100%;
    padding-top: 23px;
    padding-bottom: 21px;
    margin-bottom: 25px;
}

.features__item--top .features__description-list {
    display: inline-block;
}

.features__item--bordered {
    border: 1px solid #e8e8ec;
}