.form__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 17px;

    font-size: 14px;
    font-weight: 300;
    color: #262424;
}

.form__group:last-of-type {
    margin-bottom: 0;
}

.form__input {
    padding: 13px 10px;
    width: 270px;

    border: none;
    border-radius: 2px;
}

.form__input-label, .form__textarea-label, .form__radio-text {
    display: block;
    margin-bottom: 6px;
}

.form__textarea-label {
    display: block;
}

.form__textarea {
    width: 100%;
    padding: 5px 10px;

    border: 1px solid #cb2376;
    border-radius: 2px;

    resize: none;
}

/* .form__radiobutton-visible {
    width: 20px;
    height: 20px;
    border: 1px solid #cb2376;
    border-radius: 50%;

    display: inline-block;
} */

.radio {
    margin-right: 15px;
    cursor: pointer;
}

.radio input {
	display: none;
}

.radio__visible {
    content: '';
    display: inline-block;
    margin-right: 5px;
    position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid #cacaca;
	border-radius: 50%;
	background: #FFF;
}
.radio__visible:after {
	content: '';
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #cb2376;
	opacity: 0;
	transition: .2s;
}

.radio input:checked + .radio__visible {
    border-color: #cb2376;
}

.radio input:checked + .radio__visible + .radio__text {
    color: #cb2376;
}

.radio input:checked + .radio__visible:after {
	opacity: 1;
}

.radio__visible span {
    padding-left: 25px;
}

.radio__text {
    position: relative;
    top: -5px;
}