.form__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;

    font-size: 14px;
    font-weight: 300;
    color: #262424;
}

.form__group:last-of-type {
    margin-bottom: 0;
}

.form__input {
    padding: 13px 10px;
    width: 270px;

    border-radius: 2px;
    border: 1px solid transparent;
}

.form__input:focus {
    outline: none;
    border: 1px solid #cb2376;
    transition: .2s;
}

.form__input-label, .form__textarea-label, .form__radio-text  {
    display: block;
    margin-bottom: 6px;
}

.form__textarea-label {
    display: block;
}

.form__textarea {
    width: 100%;
    padding: 5px 10px;

    border: 1px solid transparent;
    border-radius: 2px;

    resize: none;
}

.form__textarea:focus {
    outline: none;
    border: 1px solid #cb2376;
    transition: .2s;
}

.form__radio {
    margin-right: 15px;
    cursor: pointer;
}

.form__radio input {
	display: none;
}

.form__radio-visible {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.form__radio-visible::before {
    content: '';
    display: block;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-right: 5px;
	width: 20px;
    height: 20px;
    
	border: 1px solid #cacaca;
	border-radius: 50%;
	background: #FFF;
}
.form__radio-visible::after {
    content: '';
    display: block;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #cb2376;
	opacity: 0;
}

.form__radio input:checked + .form__radio-visible::before {
    border-color: #cb2376;
}

.form__radio input:checked + .form__radio-visible::before + .form__radio-var {
    color: #cb2376;
}

.form__radio input:checked + .form__radio-visible:after {
    opacity: 1;
    transition: .2s;
}

.form__radio-var {
    position: relative;
    top: -5px;
}