.logo__header {
    float: left;
}

.logo__footer {
    margin-right: 297px;
    display: inline-block;
    vertical-align: middle;
}

.logo__link {
    display: block;
    width: 99px;
    height: 51px;
}
