.nav__list {
    display: flex;
    flex-direction: column;
}

.nav--padding-top {
    padding-top: 10px;
}

.nav__item {
    margin-bottom: 25px;
}

.nav__item:last-child {
    margin-bottom: 0;
}

.nav__link {
    padding-left: 35px;
    position: relative;

    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #cb2376;
}

.nav__link:hover {
    color:#000;
    transition: .3s;
}

.nav__link::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 18px;
    background: no-repeat left center / contain;
    vertical-align: middle;
}

.nav__link::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 18px;
    background: no-repeat left center / contain;
    vertical-align: middle;
}

.nav__link > span {
    vertical-align: middle;
}

.nav__item--icon--main .nav__link::before {
    width: 17px;
    height: 15px;
    background: url(../../img/sprite.png) no-repeat -88px -100px;
}

.nav__item--icon--main .nav__link::after {
    width: 17px;
    height: 15px;
    background: url(../../img/sprite.png) no-repeat -157px -10px;
    opacity: 0;
}

.nav__item--icon--main .nav__link:hover::before {
    opacity: 0;
    transition: .3s;
}

.nav__item--icon--main .nav__link:hover::after {
    opacity: 1;
    transition: .3s;
}

.nav__item--icon--star .nav__link::before {
    width: 20px;
    height: 18px;
    background: url(../../img/sprite.png) no-repeat -10px -62px;
}

.nav__item--icon--star .nav__link::after {
    width: 20px;
    height: 18px;
    background: url(../../img/sprite.png) no-repeat -50px -62px;
    opacity: 0;
}

.nav__item--icon--star .nav__link:hover::before {
    opacity: 0;
    transition: .3s;
}

.nav__item--icon--star .nav__link:hover::after {
    opacity: 1;
    transition: .3s;
}

.nav__item--icon--wallet .nav__link::before {
    width: 19px;
    height: 16px;
    background: url(../../img/sprite.png) no-repeat -10px -100px;
}

.nav__item--icon--wallet .nav__link::after {
    width: 19px;
    height: 16px;
    background: url(../../img/sprite.png) no-repeat -49px -100px;
    opacity: 0;
}

.nav__item--icon--wallet .nav__link:hover::before {
    opacity: 0;
    transition: .3s;
}

.nav__item--icon--wallet .nav__link:hover::after {
    opacity: 1;
    transition: .3s;
}

.nav__item--active .nav__link {
    color: #000;
}

.nav__item--active.nav__item--icon--main .nav__link::before {
    background: url(../../img/sprite.png) no-repeat -157px -10px;
}

.nav__item--active.nav__item--icon--star .nav__link::before {
    background: url(../../img/sprite.png) no-repeat -50px -62px;
}

.nav__item--active.nav__item--icon--wallet .nav__link::before {
    background: url(../../img/sprite.png) no-repeat -49px -100px;
}

.nav--horizontal {
    align-self: start;
    margin-bottom: 17px;
}

.nav--horizontal .nav__list{
    flex-direction: row;
    align-items: center;
}

.nav--horizontal .nav__item {
    margin-bottom: 0;
    margin-right: 90px;
}

.nav--horizontal .nav__item:last-child {
    margin-right: 0px;
}

.nav--header .nav__link{
    color: #fff;
}

.nav--header .nav__item--icon--main .nav__link::after {
    background: url(../../img/nav_main.png);
}

.nav--header .nav__item--icon--star .nav__link::before {
    background: url(../../img/nav_star_white.png);
}

.nav--header .nav__item--icon--star .nav__link::after {
    background: url(../../img/nav_star.png)
}

.nav--header .nav__item--icon--wallet .nav__link::before {
    background: url(../../img/nav_wallet_white.png);
}

.nav--header .nav__item--icon--wallet .nav__link::after {
    background: url(../../img/nav_wallet.png)
}

.nav--header .nav__item--active.nav__item--icon--main .nav__link::before {
    background: url(../../img/sprite.png) no-repeat -88px -100px;
}

.nav--header .nav__item--active .nav__link {
    color: #cb2376;
}

.nav--header .nav__link:hover {
    color:#cb2376;
    transition: .3s;
}

.nav--header .nav__item--icon--star .nav__link:hover::before {
   opacity: 0;
   transition: .3s;
}

.nav--header .nav__item--icon--star .nav__link:hover::after {
    opacity: 1;
    transition: .3s;
 }

 .nav--header .nav__item--icon--wallet .nav__link:hover::before {
    opacity: 0;
    transition: .3s;
 }
 
 .nav--header .nav__item--icon--wallet .nav__link:hover::after {
     opacity: 1;
     transition: .3s;
  }