.nav__list {
    display: flex;
    flex-direction: column;
}

.nav--padding-top {
    padding-top: 10px;
}

.nav__item {
    margin-bottom: 25px;
}

.nav__item:last-child {
    margin-bottom: 0;
}

.nav__link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #cb2376;
}

.nav__link:hover {
    color:#000;
    transition: .3s;
}

.nav__link::before {
    content: "";
    display: inline-block;
    margin-right: 17px;
    width: 20px;
    height: 18px;
    background: no-repeat left center / contain;
    vertical-align: middle;
}

.nav__link > span {
    vertical-align: middle;
}

.nav__item--icon--main .nav__link::before {
    width: 17px;
    height: 15px;
    background: url(../../img/sprite.png) no-repeat -88px -100px;
}

.nav__item--icon--main .nav__link:hover::before {
    background-position: -157px -10px;
}

.nav__item--icon--star .nav__link::before {
    width: 20px;
    height: 18px;
    background: url(../../img/sprite.png) no-repeat -10px -62px;
}

.nav__item--icon--star .nav__link:hover::before {
    background-position: -50px -62px;
}

.nav__item--icon--wallet .nav__link::before {
    width: 19px;
    height: 16px;
    background: url(../../img/sprite.png) no-repeat -10px -100px;
}

.nav__item--icon--wallet .nav__link:hover::before {
    background-position: -49px -100px;
}

.nav__item--active .nav__link {
    color: #000;
}

.nav__item--active.nav__item--icon--main .nav__link::before {
    background: url(../../img/sprite.png) no-repeat -157px -10px;
}

.nav__item--active.nav__item--icon--star .nav__link::before {
    background: url(../../img/sprite.png) no-repeat -50px -62px;
}

.nav__item--active.nav__item--icon--wallet .nav__link::before {
    background: url(../../img/sprite.png) no-repeat -49px -100px;
}

.nav--horizontal {
    align-self: start;
}

.nav--horizontal .nav__list{
    flex-direction: row;
    align-items: center;
}

.nav--horizontal .nav__item {
    margin-bottom: 0;
    margin-right: 90px;
}

.nav--horizontal .nav__item:last-child {
    margin-right: 0px;
}

.nav--horizontal .nav__link {
    color: inherit;
}

.nav--horizontal .nav__item--active .nav__link {
    color: #cb2376;
}