.nav {
    width: 180px;
}

.nav--padding-top {
    padding-top: 10px;
}

.nav__item {
    margin-bottom: 25px;
}

.nav__item:last-child {
    margin-bottom: 0;
}

.nav__link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #cb2376;
}

.nav__link:hover {
    color:#000;
    transition: .3s;
}

.nav__link::before {
    content: "";
    display: inline-block;
    margin-right: 17px;
    width: 20px;
    height: 18px;
    background: no-repeat left center / contain;
    vertical-align: middle;
}

.nav__link > span {
    vertical-align: middle;
}

.nav__item--icon--main .nav__link::before {
    background-image: url(../../img/nav_main.png);
    width: 17px;
    height: 15px;
}

.nav__item--icon--main .nav__link:hover::before {
    background-image: url(../../img/nav_main_hover.png);
    transition: .3s;
    width: 17px;
    height: 15px;
}

.nav__item--icon--star .nav__link::before {
    background-image: url(../../img/nav_star.png);
}

.nav__item--icon--star .nav__link:hover::before {
    background-image: url(../../img/nav_star_hover.png);
    transition: .3s;
}

.nav__item--icon--wallet .nav__link::before {
    background-image: url(../../img/nav_wallet.png);
}

.nav__item--icon--wallet .nav__link:hover::before {
    background-image: url(../../img/nav_wallet_hover.png);
    transition: .3s;
}

.nav__item--active .nav__link {
    color: #000;
}

.nav__item--active.nav__item--icon--main .nav__link::before {
    background-image: url(../../img/nav_main_hover.png);
    width: 17px;
    height: 15px;
}


.nav__item--active.nav__item--icon--star .nav__link::before {
    background-image: url(../../img/nav_star_hover.png);
}

.nav__item--active.nav__item--icon--wallet .nav__link::before {
    background-image: url(../../img/nav_wallet_hover.png);
}