.news {
    margin-bottom: 68px;
}

.news__list {
    margin-bottom: 58px;

    font-family: "Roboto", sans-serif;
}

.news__item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    margin-bottom: 25px;

    border-bottom: 2px solid #f4f4f4;
}

.news__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.news__avatar-frame {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.news__content {
    padding-left: 20px;
    width: 720px;
}

.news__content time {
    margin-bottom: 6px;
    display: block;

    font-weight: 300;
    font-size: 14px;

    color: #656464;
}

.news__content h3 {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}

.news__content p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
}