.partners {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 24px;

    border: 1px solid #e8e8ec;
    text-align: center;
}
.partners__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.partners__logo {
    width: 48.3%;
    margin-bottom: 40px;
    text-align: center;
}

.partners__logo:last-of-type {
    margin-bottom: 36px;
}

.partners__logo-img {
    margin: 0 auto;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.partners__logo-img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}



