.prices__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -35px;
}

.prices__item {
    width: calc(100% / 3 - 25px);
    margin-right: 21px;
    margin-bottom: 72px;

    text-align: center;
}

.prices__item:nth-of-type(3n) {
    margin-right: 0;
}

.prices__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    z-index: 10;

    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #8ad0f6;
}

.prices__title span {
    display: block;
    color: #cb2476;
}

.prices__rate {
    margin-bottom: 8px;
    font-weight: 700;
}

.prices__decription {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

.prices__picture {
    position: relative;

    margin-bottom: 23px;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgba(43, 43, 64, 0.85);
    z-index: 2;
}

.prices__img {
    width: 100%;
    height: 167px;

    object-fit: cover;
}

.prices__picture:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 64, 0.85);
}