.section-title {
    font-weight: bold;
    font-size: 49px;

    color: #262424;
}

.section-title--margin--s {
    margin-bottom: 48px;
}

.section-title--margin--m {
    margin-bottom: 64px;
}

.section-title--margin--xs {
    margin-bottom: 33px;
}

.section-title--margin--xxs {
    margin-bottom: 15px;
}