.sidebar {
    width: 25.35%;
    padding-right: 20px;
    padding-top: 17px;
}

.sidebar__title {
    margin-bottom: 22px;
    display: inline-block;

    text-transform: uppercase;
    font-weight: 700;
}

.sidebar__title--margin--l {
    margin-bottom: 45px;
}